<!-- Template for show all the lists -->

<div class="form">
  <input type="text" id="todoTitle" class="inputs" ng-model="viewTitle" placeholder="Todo List Title">
  <button type="button" class="inputButton" ng-click="createList()"> + </button>
</div>

<br><br>

<ul class="lists">
  <li ng-repeat="(key, value) in lists" >
    <span class="item clickable" ng-click="gotoList(key)">{{ key }} ({{ value.length }})</span>
    <button type="button" id="deleteList" ng-click="deleteList(key)">x</button>
  </li>
</ul>

